$color-negro: #000;
$color-white: #fff;
$color-parrafo-principales: rgba(0, 0, 0, 0.8);
$color-parrafos: #3076b4;
$color-parrafos-cards: rgb(20, 45, 132);
$color-background: rgba(205, 213, 207, 0.243);
$color-profesionalescards: rgb(41, 36, 68);
$color-boxshadows:rgba(0, 0, 0, 0.5490196078);
$color-radial-gra:(rgb(194, 193, 193),rgb(104, 104, 103));  
$subrayado: underline;
$alinear-texto: center;


$font-size-super-small: 10px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-extralarge: 23px;
$font-size-extra-extra-large: 30px;


